{% load static %}
<!DOCTYPE html>
<html>
<title>Jennifer Haywood Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>
<body class="w3-light-purple">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <h2 class="w3-center w3-text-purple">Jennifer Haywood Resume</h2>
    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">


            <div class="w3-white w3-text-purple w3-card-4">

                <div class="w3-display-container">

                    <img src="{% static 'purpBraids.jpg' %}" style="width:60%" alt="Avatar">

                </div>
                <div class="w3-container">
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-purple"></i>Software Engineer
                    </p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-purple"></i>Chicago, IL</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-purple"></i>brownbunny8705@gmail.com
                    </p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-purple"></i>847-637-7847</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-purple"></i>Skills</b>
                    </p>
                    <p>Java</p>
                    <div class="w3-light-purple w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:50%">5 years</div>
                    </div>
                    <p>Web Development(CSS, HTML and JavaScript)</p>
                    <div class="w3-light-purple w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:50%">
                            <div class="w3-center w3-text-white">5 years </div>
                        </div>
                    </div>
                    <p>CI(Jenkins, Bamboo</p>
                    <div class="w3-light-purple w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:50%">5 years</div>
                    </div>
                    <p>Deployment(Websphere, Heroku)</p>
                    <div class="w3-light-purple w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:50%">5 years</div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i
                            class="fa fa-globe fa-fw w3-margin-right w3-text-purple"></i>Github</b></p>
                    <p><a href = "https://github.com/finalfantasyguru8705/studentlifeproject">Student Life Project</a></p>
                    <div class="w3-light-purple w3-round-xlarge">
                        <span class="w3-round-xlarge w3-purple" style="height:24px;width:100%"></span>
                    </div>
                    <p><a href = "https://github.com/finalfantasyguru8705/cityofchicagoemployeedatat">City Of Chicago Employee</a></p>
                    <div class="w3-light-purple w3-round-xlarge">
                        <span class="w3-round-xlarge w3-purple" style="height:24px;width:55%"></span>
                    </div>
                      <p><a href = "https://github.com/finalfantasyguru8705/https-finalfantasyguru87-bitbucket.org-finalfantasyguru87-webservicegame">Final Fantasy Games Rest Service</a></p>
                    <div class="w3-light-purple w3-round-xlarge">
                        <span class="w3-round-xlarge w3-purple" style="height:24px;width:25%"></span>
                    </div>
                    <br>
                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-purple w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-purple"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Java Developer • ByteCurve LLC</b></h5>
                    <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span
                            class="w3-tag w3-purple w3-round">Current</span></h6>
                    <p>
                    <ul> Write robust and flexible Java code implementations for various multithreaded GPS interfaces
                    </ul>
                    </p>
                    <p>
                    <ul>Create/Update Postgres table for new data collection interface for fleet management data and GPS
                        data
                    </ul>
                    </p>
                    <p>
                    <ul>Consume and format GPS data from various sources via Java code implementation.</ul>
                    </p>
                    <p>
                    <ul>Support and code within Angular 2 front end and Spring MVC web application</ul>
                    </p>
                    <p>
                    <ul>Introduced Agile scrum methodology via newly created JIRA board(imported existing bugs and
                        features from Bugzilla)
                    </ul>
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Java Developer • Fitch Solutions</b></h5>
                    <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014
                    </h6>
                    <p>
                    <ul> Develop robust Java 8 Spring Boot Restful microservices that utilize NoSQL databases and
                        Katharsis JSON specification
                    </ul>
                    </p>
                    <p>
                    <ul>Build Docker images via Bamboo which are deployed to Kubernetes pods
                    </ul>
                    </p>
                    <p>
                    <ul>Implement Datadog Application monitoring within a microservice to monitor Java GC algorithm and
                        other application metrics
                    </ul>
                    </p>
                    <p>
                    <ul>Developed a Mongo DB ETL web application for a pertinent data migration project</ul>
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Software Engineer • Federal Reserve Bank of Chicago</b></h5>
                    <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012
                    </h6>

                    <p>
                    <ul>Implemented Java (POJOs, Service Class, Service Interfaces, DAO classes and DAO Interfaces)
                        coding standard
                    </ul>
                    </p>
                    <p>
                    <ul>Implemented JPA/Hibernate, Spring Data JPA Framework, QueryDSL Framework
                    </ul>
                    </p>
                    <p>
                    <ul>Implemented native JavaScript and various JavaScript frameworks(Angular 2, jQuery), CSS and HTML
                        5
                    </ul>
                    </p>
                    <p>
                    <ul>Implemented Spring / Spring Boot Framework</ul>
                    </p>
                    <p>
                    <ul>Implemented JUnit testing for domain, service and controller layers
                    </ul>
                    </p>
                    <p>
                    <ul>Implemented SQL to in Oracle and Microsoft SQL server database environment</ul>
                    </p>
                    <p>
                    <ul>Migrated legacy apps to recent technology (Struts to Spring, Ant builds to Maven efforts)</ul>
                    </p>
                    <p>
                    <ul>Implemented SCRUM/Agile Methodology
                    </ul>
                    </p>
                    <p>
                    <ul>Implemented Sonar for Coding Quality gates
                    </ul>
                    </p>
                    <p>
                    <ul>Deployed code via Jenkins CI builds and IBM WebSphere technology</ul>
                    </p>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-purple w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-purple"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>University of Illinois at Chicago(Honor's College) - Chicago, IL</b></h5>
                    <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011-2014</h6>
                    <p>B.S. in Information and Decision Sciences GPA: 3.7</p>
                    <h6>
                        <p>
                        <ul>Cum Laude and College Honors</ul>
                        </p>

                        <p>
                        <ul>2012 Marie Nesbitt Promise Prize Scholarship
                        </ul>
                        </p>
                        <p>
                        <ul>UIC's Information and Decision Sciences Student Expo for Undergraduates</ul>
                        </p>
                        <p>
                        <ul>Enactus/SIFE student involvement
                        </ul>
                        </p>
                    </h6>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<footer class="w3-container w3-purple w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>
